<div id= "banner" class="cover_home">
  <div id="hero-text">
    <h1 style="font-size:50px">Share your <strong>University</strong> <br> Experiences</h1>
    <h4>Look for your university..Share your experiences..Spread the word</h4>

    <%= search_form_for @q do |f| %>


    <div class="row">
      <div class="col-md-6">
        <%= f.search_field :name_cont, placeholder: "Search your University.."  %>
      </div>
    </div>

    <%= f.submit "Search", class: "button button_red" %>
    <% end %>

  </div>
</div>



<div class="container">
<div class="row">
  <% @universities.each_with_index do |university, i| %>
  <div class="col-md-4 col-xs-6">
    <%= link_to university_path(university) do %>

    <div id="magic_card">
    <h2><%= i+1 %> |</h2>
      <div class="imagen">
        <%= image_tag university.image.to_s %>
      </div>
      <div class="content">
        <h3><%= university.try(:name).truncate(50) %></h3>
        <h4 class="titulo"><%= university.country_code%></h4>
        <% if university.description.present? %>
        <p><%= university.try(:description).truncate(100)%></p>
        <% end %>
        <h5 class="izq"><span class="fa fa-clone"> <%= university.experiences.count %> contributions </span></h5>
        <h5 class="der"><span class="fa fa-star"> </span></h5>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>


<div class="row">
<div class="center">
<% unless @universities.blank? %>
  <%= will_paginate @universities %>
<% end %>
</div>
</div>



<div id="map"></div>


<div id="back">
  <div class="col-xs-6">
    <h1><%= @universityy.count %> Universities</h1>
  </div>
  <div class="col-xs-6">
    <h1><%= @experiences2.count %> Contributions</h1>
  </div>
</div>











<script>

function initMap() {

    // Creating a new map
    var map = new google.maps.Map(document.getElementById("map"), {
          <% if @arrUnis.length > 0 %>
              center: new google.maps.LatLng(<%= @arrUnis[0].latitude %>, <%= @arrUnis[0].longitude %>),
              zoom: 7,
            <% else %>  
              center: new google.maps.LatLng(44.5403, -78.5463),
              zoom: 3,
            <% end %> 
          scrollwheel: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });


    // Creating the JSON data
    var json = [
        
        <% @universities.each do |university| %>
        {
            "title": "<%= university.name %>",
            "lat": <%= university.latitude %>,
            "lng": <%= university.longitude%>,
            "description": '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3 id="firstHeading" class="firstHeading upper"><%=university.name %></h3>'+
            '<div id="bodyContent">'+
            '<p><%=university.country_code %></p>'+
            '<%= link_to 'More', university_path(university), class: "button button_blue" %> '+
            '</div>'+
            '</div>'
        },
        <% end %>
        
        
    ]

    // Creating a global infoWindow object that will be reused by all markers
    var infoWindow = new google.maps.InfoWindow({
      maxWidth: 200
    });

    // Looping through the JSON data
    for (var i = 0, length = json.length; i < length; i++) {
      var data = json[i],
        latLng = new google.maps.LatLng(data.lat, data.lng);

      // Creating a marker and putting it on the map
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: data.title
      });

      // Creating a closure to retain the correct data, notice how I pass the current data in the loop into the closure (marker, data)
      (function(marker, data) {

        // Attaching a click event to the current marker
        google.maps.event.addListener(marker, "click", function(e) {
          infoWindow.setContent(data.description);
          infoWindow.open(map, marker);
        });


      })(marker, data);

}



}
    
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXph4Sx9MklyoSlZ4JH-FCryYgRRgWi4&callback=initMap"
        async defer></script>
