<p>
  <strong>User:</strong>
  <%= @university.user %>
</p>

<p>
  <strong>Url:</strong>
  <%= @university.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @university.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @university.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @university.image %>
</p>

<p>
  <strong>Address:</strong>
  <%= @university.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @university.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @university.longitude %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @university.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @university.twitter %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @university.linkedin %>
</p>



<%= form_tag university_experiences_path(@university) do %>
  <% @kennel.each do |experience| %>
    <%= fields_for 'experiences[]', experience do |p| %>

        <%= p.text_field :experience %>


    <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag "create" %>
  </div>
<% end %>

<h2><%= @experiences3 %> contributions</h2>

<%= bar_chart @experiences, colors: ["#FD6C6A"] %>

<%= line_chart @experiences2, colors: ["#5B69E5"] %>


<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
