<div class="container">
  <div id="imback">
    <div class="img">
    <%= image_tag @university.image.to_s %>
    </div>
    <h3><%= @university.name %></h3>
    <p><%= @university.address %></p>
    <h4>-- <%= @university.country_code%> --</h4>

  </div>
</div>
<br>

<div id="kingdom">
<h2>Why your university rocks? Share it with us</h2>
<ul>
<%= form_tag university_experiences_path(@university) do %>
  <% @kennel.each_with_index do |experience, i| %>

    <%= fields_for 'experiences[]', experience do |p| %>
    
    <li>
    <%= p.text_field :experience, required:true, placeholder: "Reason # #{i+1}.." %>
    </li>

    <% end %>
  <% end %>
    <li>
      <%= submit_tag "Share", class: "button button_red2" %>
    </li>
    
<% end %>
</ul>
</div>
<br>


<div class="container">
<div class="row">
  <div class="col-md-9">
  <div class="row">
  <div class="col-md-6">
    <div id="magic">
      <%= render 'score' %>
  </div>

    <div id="magic">
      <h4 class="titulo">Description:</h4>
      <p><%=@university.description %></p>

      <h4 class="titulo">Reasons</h4>
      <%= bar_chart @experiences, colors: ["#FD6C6A"], height: "900px" %>
    </div>
  </div>
  <div class="col-md-3">
    <div id="magic">
      <h4 class="titulo">Information:</h4>
      <h5><span class="fa fa-globe"> </span> <%=@university.url %></h5>
      <h5><span class="fa fa-facebook"> </span><%= best_in_place [@university], :facebook, :place_holder => "Add facebook page", :activator => "#800" %> <% if user_signed_in? %><a href="#" id="800"> <span class="grande fa fa-pencil-square"></span></a><%else%>
        <a href="<%= new_user_session_path %>"> <span class="grande fa fa-pencil-square"></span></a><%end%></h5>

      <h5><span class="fa fa-twitter"> </span><%= best_in_place [@university], :twitter, :place_holder => "Add twitter site", :activator => "#90" %> <% if user_signed_in? %><a href="#" id="90"> <span class="grande fa fa-pencil-square"></span></a><%else%>
        <a href="<%= new_user_session_path %>"> <span class="grande fa fa-pencil-square"></span></a><%end%></h5>

      <h5><span class="fa fa-linkedin"> </span><%= best_in_place [@university], :linkedin, :place_holder => "Add linked in website", :activator => "#100" %> <% if user_signed_in? %><a href="#" id="100"> <span class="grande fa fa-pencil-square"></span></a><%else%>
        <a href="<%= new_user_session_path %>"> <span class="grande fa fa-pencil-square"></span></a><%end%></h5>
    </div>

    <div id="magic">
      <h4 class="titulo">Location:</h4>
      <div id="map2"></div>
    </div>

    <div id="magic">
      <h4 class="titulo"># of Contributions:</h4>
      <%= line_chart @experiences2, colors: ["#5B69E5"], height: "100px" %>
    </div>

<div id="magic">
        <h4 class="titulo">Share</h4>

        <div class="row">
          <div class="col-xs-6">
            <a class="icon-facebook botones button_red" rel="nofollow"
            href="http://www.facebook.com/"
            onclick="popUp=window.open(
              'http://www.facebook.com/sharer.php?u=<%="#{@university}"%>',
              'popupwindow',
              'scrollbars=yes,width=800,height=400');
            popUp.focus();
            return false">
            <i class="fa fa-facebook fa-lg face"></i>
          </a>
        </div>

        <div class="col-xs-6">
          <a class="icon-twitter botones button_red" rel="nofollow"
          href="http://twitter.com/"
          onclick="popUp=window.open(
            'http://twitter.com/intent/tweet?text=\'<%= @university.name %>\' by Wordniversity - <%="#{university_path(@university)}"%>',
            'popupwindow',
            'scrollbars=yes,width=800,height=400');
          popUp.focus();
          return false">
          <i class="fa fa-twitter fa-lg twitter"></i>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <a class="icon-pinterest botones button_red" rel="nofollow"
        href="http://www.pinterest.com/"
        onclick="popUp=window.open(
          'http://pinterest.com/pin/create/button/?url=<%="#{university_path(@university)}"%>&amp;media=&amp;description=<%= @university.name %>',
          'popupwindow',
          'scrollbars=yes,width=800,height=400');
        popUp.focus();
        return false">
        <i class="fa fa-pinterest fa-lg you"></i>
      </a>
    </div>

    <div class="col-xs-6">
      <a class="icon-gplus botones button_red" rel="nofollow"
      href="http://www.plus.google.com/"
      onclick="popUp=window.open(
        'https://plus.google.com/share?url=<%="#{university_path(@university)}"%>',
        'popupwindow',
        'scrollbars=yes,width=800,height=400');
      popUp.focus();
      return false">
      <i class="fa fa-google-plus fa-lg you"></i>
    </a>
  </div>
</div>

</div>


  </div>
</div>
</div>




<script>
  $(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>

<script>

  function initMap() {
    var myLatLng = {lat: <%= @university.latitude %>, lng: <%= @university.longitude %>};

    var map = new google.maps.Map(document.getElementById('map2'), {
      zoom: 14,
      center: myLatLng,
      scrollwheel: false
    });


    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: '<%= @university.name %>'
    });
  }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6K3XNvvLlBjourkCDTo3CMOUygthuYKo&signed_in=true&callback=initMap"></script>

